.container {
  max-width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
section {
  padding-left: 45px;
  display: flex;
  position: relative;
}

.big img {
  width: 50%;
}

.aside {
  background-color: #fff;
  position: absolute;
  padding: 100px;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: 600;
  bottom: 150px;
  right: 130px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.slider__container {
  padding-left: 0;
  padding-right: 0;
}

.slider__items {
  counter-reset: slide;
}

.slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  counter-increment: slide;
  height: 100vh;
  position: relative;
}

.slider__item::before {
  content: counter(slide) '/5';
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
  display: block;
}

.slider__item:nth-child(1) {
  /* background-color: #f44336; */
  background-image: url('images/slide1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item:nth-child(2) {
  /* background-color: #9c27b0; */
  background-image: url('images/slide2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item:nth-child(3) {
  /* background-color: #3f51b5; */
  background-image: url('images/slide3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item:nth-child(4) {
  /* background-color: #03a9f4; */
  background-image: url('images/slide4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item:nth-child(5) {
  /* background-color: #4caf50; */
  background-image: url('images/slide5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
